@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&display=swap');

:root{
  --primary: #f0544f;
}

* {
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
}

.navbar {
  display: flex;
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.navbar:first-child{
  color: var(--primary);
  font-size: larger;
}


.links a{
  padding: 0px 20px;
  text-decoration: none;
  cursor: pointer;
}

.links a:visited{
  color: black;
}
.links a:hover{
  color: var(--primary);
}

.content {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview{
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(219, 219, 219);
  margin-bottom: 20px;
  cursor: pointer;
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2{
  color: var(--primary);
  padding-bottom: 8px;
}
.blog-preview button {
  margin: 10px 0px;
}

.blog-list h1{
  margin-bottom: 35px;
}

.blog-preview a{
  text-decoration: none;
}

.blog-preview a:visited{
  color: black;
}

.blog-details h2{
  color: var(--primary);
  margin: 10px 0px;
  padding: 10px 0px;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.blog-details div{
  margin: 20px 0px;
  font-size: large;
}
.blog-details button{
  background-color: var(--primary);
  border-radius: 8px;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}


.create{
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}
.create h2{
  color: var(--primary);
  font-size: xx-large;
}

.create label {
  text-align: left;
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
}
.create input {
  width: 400px;
  height: 20px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(212, 212, 212);
}
.create textarea{
  width: 400px;
  height: 120px;
  padding: 10px;
  border: 1px solid rgb(216, 216, 216);
}

.create button {
  background-color: var(--primary);
  border-radius: 8px;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
}
