@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Quicksand&display=swap');

* {
  margin: 0px;
  font-family: 'Quicksand', sans-serif;
}

.navbar {
  display: flex;
  padding: 20px 100px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.navbar:first-child{
  color: red;
  font-size: larger;
}

.links a{
  padding: 0px 20px;
  text-decoration: none;
  cursor: pointer;
}

.links a:visited{
  color: black;
}
.links a:hover{
  color: red;
}

.content {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview{
  padding-bottom: 5px;
  border-bottom: 1px solid rgb(219, 219, 219);
  margin-bottom: 20px;
  cursor: pointer;
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2{
  color: red;
  padding-bottom: 8px;
}